.wrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 116px;
  max-width: 600px;
  border-bottom: 1px solid #efefef;
  container-type: inline-size;
  container-name: legend-container;
}

.col {
  padding: 0.125rem;
  margin-right: 1rem;
  font-size: 0.75rem;
}

.category {
  flex: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.legend-color {
  border-radius: 0.125rem;
  width: 0.5rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
}

.num {
  flex: 1;
  white-space: nowrap;
  text-align: right;
}

.header {
  height: auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #efefef;
  scrollbar-gutter: stable both-edges;
  overflow: hidden;
  scrollbar-width: thin;
  font-weight: 600;
}

.body {
  height: 132px;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  scrollbar-color: #c9d1df #f5f7fa;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:hover {
  background-color: #efefef;
  border-radius: 4px;
  cursor: pointer;
}

.body > .row:nth-child(1) {
  margin-top: 0.25rem;
}
.body > .row:last-child {
  margin-bottom: 0.25rem;
}

@container legend-container (max-width: 250px) {
  .header > .col.num:last-of-type {
    display: none;
  }

  .body > .row > .col.num:last-of-type {
    display: none;
  }

  .category {
    width: 60%;
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .body {
    height: 88px;
  }

  .wrapper {
    max-width: 100%;
    width: 100%;
  }
}

@container legend-container (max-width: 180px) {
  .header > .col.num {
    display: none;
  }
  .body > .row > .col.num {
    display: none;
  }

  .category {
    max-width: 100%;
    width: auto;
  }

  .col {
    margin-right: 0;
  }
}
