* {
  font-family: roboto, sans-serif;
  font-size: 16px;
  color: #33383f;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  margin: 1rem;
}

.nav-bar {
  width: 155px;
  height: auto;
  background-color: #25303e;
}

.section {
  height: 100%;
  width: 100%;
}
.heading {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.dashboard {
  margin: 0;
  padding: 1rem;
  background-color: #f5f7fa;
}
.chart-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  height: 100%;
}

.card {
  margin: 0 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  border: 1px solid #dee3ec;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #ffffff;
  container-type: size;
  container-name: card;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-group {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.button-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: #8f99a9;
}

.button-icon:hover {
  background: #f5f7fa;
  cursor: pointer;
}

.height-1 {
  height: 280px;
}
.height-2 {
  height: 570px;
}
.height-3 {
  height: 860px;
}
.height-4 {
  height: 1150px;
}
.height-5 {
  height: 1440;
}

.col-3 {
  max-width: calc((3 / 12) * 100%);
}
.col-4 {
  max-width: calc((4 / 12) * 100%);
}
.col-5 {
  max-width: calc((5 / 12) * 100%);
}
.col-6 {
  max-width: calc((6 / 12) * 100%);
}
.col-7 {
  max-width: calc((7 / 12) * 100%);
}
.col-8 {
  max-width: calc((8 / 12) * 100%);
}
.col-9 {
  max-width: calc((9 / 12) * 100%);
}
.col-10 {
  max-width: calc((10 / 12) * 100%);
}
.col-11 {
  max-width: calc((11 / 12) * 100%);
}
.col-12 {
  max-width: 100%;
}

.Pie {
  height: auto;
  width: auto;
  min-width: 64px;
}

@media (max-width: 724px) {
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    max-width: 100%;
  }

  .flex-row {
    flex-direction: column;
    gap: 0.5rem;
    height: 870px;
  }

  p {
    font-size: 1rem;
  }
}

/* Change text size when browser width >=801px and <=1400px */
@media (min-width: 727px) and (max-width: 1400px) {
  p {
    font-size: 0.75rem;
  }
}

/* when card is >280px height*/
@container card (min-height: 280px) {
  .chart-elements {
    flex-direction: column;
  }
  .Pie {
    height: 100%;
    width: auto;
  }
  .wrapper,
  .body {
    width: 100%;
  }
}

/* when card is >=580px height*/
@container card (min-height: 580px) {
  .Pie {
    height: auto;
    width: 100%;
  }
}

/* when card is >=400px width*/
@container card (min-width: 500px) {
  .chart-elements {
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
}
/* when card is <=300px */
@container card (max-width: 300px) {
  .Pie {
    width: 100%;
    height: auto;
  }
}

/* when card is <=200px */
@container card (max-width: 250px) and (max-height: 250px) {
  .wrapper {
    display: none !important;
  }
  .Pie {
    width: auto;
    height: auto;
  }
}
